<div class="date_select flex align hover">
    <img src="/icons/calendar.png" alt="calendar" width="18px">
    <p>This week</p>
    <img src="/icons/down-chevron.png" alt="drop-down" width="18px">
</div>