<div class="hd card flex spc_btw">
    <div class="flex align">
        <img style="margin-right: 20px;" 
        src="/icons/menu.png" alt="menu" 
        class="nav_draw_btn icon hover"
        onclick="toggleDrawer()">
        <div>
            <p class="prim">Hello!</p>
            <p class="sec">8th June 2024</p>
        </div>
    </div>
   

    <div class="flex align">
        <div class="round_dp">
        </div>

        <div class="admin_name">
            <p class="sec">David Jeffrey</p>
            <p class="prim">Admin</p>
        </div>

          <img src="/icons/down.png" alt="down-chevron" class="icon">   
    </div>

</div>