<div class="hd card flex spc_btw">
    <div>
        <p class="prim">Hello!</p>
        <p class="sec">8th June 2024</p>
    </div>

    <div class="flex align">
        <div class="round_dp">
        </div>

        <div>
            <p class="sec">David Jeffrey</p>
            <p class="prim">Admin</p>
        </div>

        <img src="/icons/down.png" alt="down-chevron" width="18px" style="margin-left: 10px;">
    </div>

</div>