<!DOCTYPE html>
<html lang="en">

<%- include('./components/head.ejs') %>

    <body class="center">
        <div style="text-align: center;" class="not_found_cont">
            <h1>Oops!</h1>
            <h2>404 - PAGE NOT FOUND</h2>
            <p>The page/path you're looking for might have been removed or had its name changed or is temporarily
                unavailable</p><br>
            <a href="/home" class="link custom_btn">GO TO HOMEPAGE</a>
        </div>

    </body>

</html>