<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs') %>

    <body class="admin_body">
        <div class="side_nav">

        </div>
        <div class="content">
            <div class="head_nav">

            </div>
        </div>
    </body>

</html>