<!DOCTYPE html>
<html lang="en">
    <% var selectedIndex = 0 %>
<%- include('./components/head.ejs') %>

    <body>
       <div class="home flex">
            <nav>
                <a href="" class="link"><h1 class="web_title">TECHWISE</h1></a>
                <hr color="#F8F8F8">
                <%- include('./components/navDrawer.ejs', {index: 1}) %>
            </nav>
            <div class="content">
                <%- include('./components/headerBar.ejs') %>
                <div class="main">
                    <h2 class="main_heading">Products</h2>
                </div>
            </div>
       </div>
       <div class="mobile_drawer_background" onclick="toggleDrawer()"></div>
       <div class="mobile_drawer">
            <%-include('./components/navDrawer.ejs', {index: 1})%>
        </div>
    </body>

</html>