:root{
    --primary-color: #0074A6;
    --custom-red: #DD0202;
    --custom-light-red: #dd02028a;
    --custom-orange: #ED9B2D;
    --custom-green: #01AA58;
    --custom-light-green: #01aa587b;
    --text-primary: #262626;
    --text-secondary: #727272;
    --text-invert: #BEBDBD;
    --border-invert: #BEBDBD;
    --surface-table-head-invert: #F3F3F3;
    --surface-secondary: #FDFDFD;
    --surface-primary: #F8F8F8;
    --card-color: #ffffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--surface-primary);
    color: var(--text-primary);
}
p{
    font-size: 13px;
    margin: 0;
}

.flex{
    display: flex;
}
.align{
    align-items: center;
}
.spc_btw{
    justify-content: space-between;
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}
.card{
    background-color: var(--card-color);
    border-radius: 10px;
    box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.077);
}
.hover{
   transition: background 0.2s ease-in;
}
.hover:hover{
    cursor: pointer;
    background-color: var(--surface-primary);
}
.link{
    text-decoration: none;
    color: var(--text-primary);
}

.icon{
    width: 18px;
    height: 18px;
}
.home {
    height: 100dvh;
    position: relative;
}

.mobile_drawer_background{
    top: 0;
    position: absolute;
    height: 100dvh;
    width: 100%;
    background-color: #727272;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in;
}

.mobile_drawer{
    display: none;
    position: absolute;
    background-color: white;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100dvh;
    z-index: 2;
    transition: 0.3s ease-in;
}


.home nav{
    background-color: var(--card-color);
    width: 225px;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100dvh;
}

.web_title{
    margin: 22.5px;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
}
.nav_content{
    height: 88%;
    display: flex;
    flex-direction: column;
}

.nav_content .flex{
    align-items: center;
    padding: 11.25px 15px;
    margin-inline: 7.5px;
    border-radius: 5px;
}
.nav_content .flex p{
    margin: 0 0 0 11.25px;
    font-size: 12px;
}

.sec_txt{
    margin: 15px 0 12px 7.5px;
    font-size: 12px;
    color: var(--text-invert);
}

.content{
    width: 100%;
    padding: 15px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.hd{
    padding: 15px;
}
.round_dp{
    width: 45px;
    height: 45px;
    background-color: grey;
    border-radius: 50px;
    margin-right: 10px;
    background-image: url('./temp/man.png');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
}
.prim{
    font-size: 12px;
    color: var(--text-invert);
}
.sec{
    font-size: 13px;
    color: var(--text-primary);
    font-weight: bold;
}
.prim, .sec{
    margin: 0;
}

.main{
    margin-top: 15px;
    background-color: var(--surface-secondary);
    min-height: 90dvh;
    border-radius: 10px;
    padding: 15px;
}

.main_heading{
    font-size: 20px;
    margin: 0;
}

.sub_heading{
    font-size: 16px;
    margin: 0;
}
.date_select{
    border: 1px solid var(--border-invert);
    border-radius: 5px;
    padding: 9px;
}
.date_select p{
    margin: 0 5px;
    font-size: 12px;
    color: var(--text-secondary);
}
main{
    overflow-x: scroll;
    scrollbar-width: none;
}
.analytics_content{
    display: grid;
    grid-auto-columns: minmax(200px, auto);
    grid-template-areas: 
    "top_amount  top_amount  top_revenue  top_revenue  top_customer  top_customer"
    "p_sell  p_sell  p_sell  p_sell  tp_cus  tp_cus"
    "dev_pref  dev_pref  dev_pref  b_pro  b_pro  b_pro";
    gap: 15px;
    margin-top: 10px;
}

.t_amt{
    grid-area: top_amount;
}
.t_rev{grid-area: top_revenue;}
.t_cus{grid-area: top_customer;}
.p_sell{grid-area: p_sell;}
.tp_cus{
    grid-area: tp_cus;
    overflow-y: scroll;
    scrollbar-width: none;
}
.dev_pref{
    grid-area: dev_pref;
    height: 100%;
}
.b_pro{grid-area: b_pro;}

.dev_pref, .b_pro{
    display: flex;
    flex-direction: column;
}

.dev_pref table{
    margin-top: auto;
}

.dev_pref tr th:last-child, 
.dev_pref tr th:nth-child(2)
{
    width: 30%;
}

.analytics_content div.card{
    height: 232px;
    background-color: white;
    padding: 7.5px;
}
table, th, td{
    border: 1px solid var(--border-invert);
}
table{
    width: 100%; 
    border-collapse: collapse;
    margin-top: 10px;
}

th,td{
    padding: 7.5px;
    font-size: 12px;
}
th{
    background-color: var(--surface-table-head-invert);
}

td p{
    margin: 0;
}

.custom_btn {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 200ms linear;
}

.custom_btn:hover {
    background-color: rgb(33, 122, 255);
}

.not_found_cont h1 {
    font-size: 200px;
    margin: 0;
    transition: all 200ms ease-in;
}

.not_found_cont p {
    width: 500px;
}

.link {
    text-decoration: none;
}
.trending{
    border-radius: 25px;
    border: 1px solid;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 105px;
}
.trending p{
    font-size: 12px;
    margin: 0;
    font-weight: bold;
}
.trending img{
    width: 12px;
    height: 12px;
}

.up{
    border-color: var(--custom-green);
    background-color: var(--custom-light-green);
    color: var(--custom-green);
}

.down{
    border-color: var(--custom-red);
    background-color: var(--custom-light-red);
    color: var(--custom-red);
}

.gender_cont{
    margin-left: 40px;
    width: 100%;
}
.big_dot{
    width: 11px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--custom-green);
    margin-right: 10px;
}

.big_dot + p{
    margin: 0;
}
.bp{
    width: 67px;
}
.amount_heading{
    margin: 0 10px 0 0;
}

.nav_draw_btn{
    display: none;
}

.admin_name + img{
    margin-left: 10px;
}

/* Admin home page */
.admin_body {
    width: 100dvw;
    display: flex;
    height: 100dvh;
}

.side_nav {
    height: 100%;
    width: 300px;
    background-color: rgb(197, 197, 197);
}

.content {
    width: 100%;

}

.head_nav {
    height: 50px;
    width: 100%;
    background-color: grey;
}


/* Products Section */
.add_product_content{
    width: 100%;
    display: grid;
    grid-template-columns: 65% auto;
    margin-top: 10px;
    gap: 15px;
    /* grid-auto-columns: minmax(500px, auto); */
}
.add_product_content .card{
    padding: 10px;
}

.upload_img, .general_info{
    height: 395px;
}

.category, .stock{
    margin-top: 15px;
}

.p_info, .p_prop{
    display: flex;
    flex-direction: column;
    height: 350px;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: auto;   
}
.stk, .cat{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 173px;
}

.p_prop{
    justify-content: space-between;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.kv{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin-top: 7px;
}

.kv input{
    flex: 1 0 140px;
}

label{
    display: block;
    font-size: 14px;
    margin-bottom: 7px;
    font-weight: bold;
    color: var(--text-secondary);
}

input, textarea, select{
    border-radius: 5px;
    border: none;
    background-color: var(--surface-table-head-invert);
    padding: 15px 10px;
}
select{
    cursor: pointer;
}

#pDescription{
    height: 100%;
}

@media screen and (max-width: 992px) {
    .home nav{
        display: none;
    }
    .nav_draw_btn{
        display: block;
    }
    .mobile_drawer{
        display: block;
    }
    /* ..mobile_drawer_background{
        visibility: ;
    } */
    .mobile_drawer.active{
        left: 0;
    }
    .mobile_drawer_background.active{
       visibility: visible;
        opacity: 0.5;
        cursor: pointer;
    }
}

@media screen and (max-width: 776px) {
    .not_found_cont h1 {
        font-size: 150px;
    }
}

@media screen and (max-width: 600px) {
    .not_found_cont h1 {
        font-size: 100px;
    }

    .not_found_cont p {
        width: 100%;
    }
    .admin_name{display: none;}
    .admin_name + img{
        margin-left: 0;
    }
    .content{
        padding: 0;
    }
}